.section.speller {
    margin: 40px 0;
    line-height: 2;

    h3 {
        .span-wrapper {
            padding: 0;

            @media (max-width: 640px) {
                display: block;
            }
        }

        span {
            color: #fff;
            display: inline-block;
            padding: 0px $padding;
            margin: 0 5px;
            word-break: break-word;
        }
    }
}
